zsh/.config/zsh/plugins
zsh/.config/zsh/.zsh_history
**/__pycache__
**/.mypy_cache
**/.nvim
zsh/.config/zsh/completions
scripts/.local/bin/scripts/ch
scripts/.local/bin/scripts/assets
eww/.config/eww/bkpcover.png
helix/.config/helix/runtime
qutebrowser/.config/qutebrowser/bookmarks/
qutebrowser/.config/qutebrowser/quickmarks
swaylock/.config/swaylock/eDP-1.png
swaylock/.config/swaylock/HDMI-A-1.png
