* {
  /* `otf-font-awesome` is required to be installed for icons */
  /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
  font-family: JetBrainsMono NF, FontAwesome, sans-serif;
  font-size: 12;
}

window#waybar {
  /* background-color: transparent; */
  background-color: #1d2021;
}

/* window#waybar.solo { */
/*   background-color: #1d2021; */
/* } */

/* window#waybar.solo #workspaces, */
/* window#waybar.solo #window, */
/* window#waybar.solo #clock, */
/* window#waybar.solo #tray, */
/* window#waybar.solo #custom-media, */
/* window#waybar.solo #battery, */
/* window#waybar.solo #custom-notification, */
/* window#waybar.solo #custom-info, */
/* window#waybar.solo #custom-controls, */
/* window#waybar.solo #idle_inhibitor { */
/*   border: none; */
/* } */
/* window#waybar.solo #workspaces button { */
/*   border-radius: 0; */
/* } */

#workspaces,
#window,
#clock,
#battery,
#custom-notification,
#custom-info,
#custom-controls,
#idle_inhibitor,
#custom-pomo,
#pulseaudio
{
  color: #ddc7a1;
  background-color: #1d2021;
  /* border: 0.1rem solid #ddc7a1; */
  border-radius: 0.6rem;
  padding: 0.2rem 0.5rem;
  margin: 0.1rem 0.2rem;
}

#tray,
#cpu,
#memory,
#network,
#clock.day,
#custom-media,
#temperature {
  color: #7c6f64;
  background-color: #1d2021;
  /* border: 0.1rem solid #ddc7a1; */
  border-radius: 0.6rem;
  padding: 0.2rem 0.5rem;
  margin: 0.1rem 0;
}

#custom-media {
  color: #928374;
}

#temperature.critical {
  color: #ea6962;
}

#network {
  font-family: MesloLGS NF;
}

#idle_inhibitor {
  margin-left: 0.4rem;
  padding-left: 0.6rem;
  padding-right: 0.7rem;
}

#idle_inhibitor.activated {
  background-color: #d8a657;
  color: #1d2021;
}

#battery {
  padding-left: 0.45rem;
  padding-right: 0.9rem;
}

#custom-info {
  padding-left: 0.6rem;
  padding-right: 0.4rem;
}

#custom-controls {
  padding-left: 0.6rem;
  padding-right: 0.8rem;
}

/* window#waybar.empty #window { */
/*   background-color: transparent; */
/*   padding: 0; */
/*   border: none; */
/* } */

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left > widget:first-child > #workspaces { */
/*     margin-left: 0; */
/* } */

#workspaces {
  padding: 0;
}

#workspaces button {
  padding: 0 0.4rem;
  /* border-radius: 0.6rem; */
  border-radius: 0;
}

#workspaces button:hover {
  background-color: #504945;
}

#workspaces button.visible {
  background-color: #473c29;
}

#workspaces button.active,
#workspaces button.focused
{
  background-color: #d8a657;
  color: #1d2021;
}

#workspaces button.urgent {
  background-color: #ea6962;
  color: #1d2021;
}

#battery.charging,
#battery.plugged {
  color: #a9b665;
}

#battery.warning {
  color: #ea6962;
}

@keyframes blink {
  to {
    background-color: #ddc7a1;
  }
}

#battery.critical:not(.charging) {
    background-color: #ea6962;
    color: #1d2021;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
